.navbar {
    background-color: #A5EBEF;
    height: 10vh;
}

.navbar-brand {
    color: #fff;
    font-size: 30px;
    text-align: left;
}

.navbar-nav {
}

.nav-link {
    color: #fff !important;
    font-size: 25px;
}
